.feature-list {
  color: $title-text-color;
  &__title {
    color: $title-text-color;
  }
}
.feature-list {
  display: flex;
}

.feature-list__item {
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.feature-list__box {
  background-color: $bg-icon-feature;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}
.feature-list__text {
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
}
