.feature-list {
  color: $title-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    color: $title-text-color;
  }
}

// .feature-list__item {
//   // &:not(:first-child) {
//   //   margin-left: 30px;
//   // }
// }

.feature-list__box {
  background-color: $bg-icon-feature;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.feature-list__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature-list__text {
  font-style: normal;
  font-weight: normal;
  &:not(:first-child) {
    margin-bottom: 30px;
  }
}
