.hero {
  padding: 200px 0px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-color-secondary;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &-content__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $primary-bg-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero-content__button {
  border-radius: 6px;
  border: 0px solid transparent;
  padding: 10px 32px;
  min-width: 130px;
  color: $primary-bg-color;
  background-color: $accent-color;
  font-weight: bold;
  text-align: center;
}
