.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  padding-top: 48px;
  background: $white-color;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 14px;
  right: 15px;
  margin-left: auto;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;

  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
// // .menu-toggle .icon-cross {
// //   display: none;
// // }
// .menu-toggle .js-open-menu .icon-cross {
//   display: block;
// }
// .menu-toggle .js-close-menu .icon-menu {
//   display: none;
// }

@media (min-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}
.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__link {
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    outline: none;
  }
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact__link {
  color: $primaty-text-color;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  color: $primaty-text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  margin-left: auto;
  align-items: center;
  margin-top: 302px;
  &_link:active {
    color: $accent-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: none;
  }
}
.mobile-social {
  display: flex;
  margin-top: 32px;
}
.mobile-social__item {
  &:not(:last-child) {
    margin-left: 10px;
    margin-right: 10px;
    &:not(:last-child)::after {
      content: '';
      width: 22px;
      height: 0px;
      margin-left: 10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
  @media screen and (max-width: 479px) {
    &:not(:last-child) {
      margin-right: 7px;
      &:not(:last-child)::after {
        width: 19px;
        margin-left: 7px;
      }
    }
  }
}

.mobile-social__link {
  color: $accent-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  @media screen and (max-width: 479px) {
    font-size: 12px;
  }
}
