.header {
  border: $headborder;
}
//logo
.logo {
  color: $accent-color;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  .logo__title {
    color: $title-text-color;
  }
}
// main-nav
.main-flex {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
// site-nav
.site-nav {
  &:active {
    color: $primaty-text-color;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    outline: none;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  display: flex;
  margin-left: 93px;
  &__link:hover::after,
  &__link:focus::after {
    opacity: 1;
  }
}

.site-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
  position: relative;
}

.site-nav__link {
  &:active {
    color: $accent-color;
  }
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: $accent-color;
    opacity: 0;
  }
}

.current {
  color: $accent-color;
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    background-color: $accent-color;
    opacity: 1;
  }
}
.main-contact__link {
  display: flex;
  color: $primaty-text-color;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-contact {
  color: $primaty-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.main-contact {
  &__item + &__item {
    margin-left: 50px;
  }
  &__link:hover > &__icon {
    fill: #2196f3;
  }
  &__link:focus > &__icon {
    fill: #2196f3;
  }
}
.main-contact__icon {
  fill: $content-icon;
  margin-right: 10px;
}

.main-contact__link {
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}
