.regular {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.regular-item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.regular-item__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid $Regular;
  border-radius: 4px;
  fill: $Regular;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
    outline: none;
  }
}
