.section {
    padding-bottom: 94px;
    padding-top: 94px;
  
    &-title {
      margin-bottom: 50px;
      color: $title-text-color;
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
      letter-spacing: 0.03em;
    }
  }