.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-portfolio {
  &__item + &__item {
    margin-left: 8px;
  }
}

.button-portfolio__filters {
  color: $title-text-color;
  background-color: $portfolio-secondary-color;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }
}
