.flex-box {
  display: flex;
  align-items: baseline;
}

.footer-box {
  justify-content: start;
  margin-left: 70px;
}

.footer-box__list {
  display: flex;
}

.footer-box__titel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-bg-color;
  margin-bottom: 20px;
}

.footer-box__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.footer-box__link {
  padding: 12px;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    outline: none;
  }
}
.footer-box__icon {
  fill: currentColor;
}

.footer {
  background-color: $bg-color-secondary;
  padding-top: 60px;
  padding-bottom: 60px;
}
