.footer__logo {
  color: $accent-color;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo__title {
  color: $primary-bg-color;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.contact-footer__link {
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.contact-footer__list {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-color;
}

.address-box__title {
  color: $primary-bg-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contact-footer__link {
  &:active {
    color: $accent-color;
  }
}

.contact-footer__link {
  color: $footer-color;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer-item {
  margin-top: 9px;
}
.address-box {
  margin-top: 20px;
}
