$primaty-text-color: #757575;
$white-color: #fff;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$portfolio-secondary-color: #f5f4fa;
$bg-color-secondary: #2f303a;
$bg-icon-feature: #f5f4fa;
$bg-color-thumba: rgba(33, 150, 243, 0.9);
$headborder: 1px solid #ececec;
$content-icon: #757575;
$bg-ourwork-label: rgba(47, 48, 58, 0.8);
$footer-color: rgba(255, 255, 255, 0.6);
$cart-set-gap: 30px;
$Regular: #afb1b8;
